html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}

button{
    font-family: inherit;
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    font-weight: bold;
    box-shadow: 1.8px 5px 8px 2px rgba(228, 227, 227, 0.8);
}

button:hover{
    cursor: pointer;
    border: 2px solid rgb(158,158,158);
}
h1{
    font-family: 'Poppins', sans-serif;
}
/*Hero styles*/

#hero{
    height:100vh;
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    
    flex-direction: column;
    
    border-bottom: .1px solid #e7fdff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
   
    
}
nav button{
    padding: 0.5rem 2rem;
    background-color: white;
   
}

#hero > div{
    display:flex;
    align-items: center;
    height:100%;
   
}

#hero > div img{
    
    max-height:90%;
    max-width: 90%;
    
}

.herocontent{
    flex: 4;
    padding: 2rem;
}


.herocontent h1{
    font-size: 2.8rem;
}

.heroimagecontainer{
    flex:6;
    display: flex;
    justify-content: center;
}
.herocontent button{
    padding: 0.8rem 3rem;
    border-radius:30px;
    background-color: hsl(322, 100%, 66%);
    color:white;
}
.herocontent button:hover{
    border-color:rgb(100, 100, 104) solid;
}
.herocontent p{
    margin-bottom:2rem;
}


/*Info styles*/


#info{
   
    padding:4rem;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15rem;
    
    

}

#info > div{
    margin: 2rem 0;
    display: flex;
    border: 2px transparent rgb(225,224, 224);
    box-shadow: 1.8px 5px 8px 5px rgba(228, 227, 227, 0.8);
    border-radius: 10px;
    padding-left: 4rem;
    padding-right: 2rem;
   

}
#para1{
    color:grey;
}
#para2{
    color:grey;
}
#para3{
    color:grey;
}
#info img{
    height:80%;
    width: 70%;
}

.infocontent{
    align-self:center;
    flex:4;

}

.infoimagecontainer{
    flex: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.infoimagecontainer:nth-of-type(1){
    justify-content: flex-start;
}

/*Absolute section styles*/

#absolutesection{
    position:relative;
    display: flex;
   
}

#absolutesection div{
    border:2px solid rgb(225, 224, 224);
    background-color: white;
    text-align: center;
    padding: 2rem 3rem;
    width:40%;
    border-radius: 10px;
    position: absolute;
    left:50%;
    transform:translate(-50%,-50%)
}

#absolutesection button{
    padding:1rem 2rem;
    border-radius: 25px;
    background-color: hsl(322, 100%, 66%);
    color: white;
}

/*Footer Section Styles*/

footer{
    background-color: hsl(192, 100%, 9%);
    padding: 8rem 2rem 2rem 2rem;
}
#moredetailscontainer{
    display: flex;
    justify-content: space-around;
    color: white;
}

#moredetailscontainer > div{
flex-basis: 20%;

}
#contactcontainer div{
    display: flex;
    margin: 10px 0;
    column-gap: 20px;
    align-items: flex-start;
}
.linkscontainer{
    display:flex;
    align-items: center;
}

.linkscontainer ul{
    list-style: none;
}

.linkscontainer li{
    display: block;
    margin: 1rem 0;
}
#socialscontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

#copyrighttext{
    color: white;
    margin: 0;
    text-align: right;
    margin-top: 1rem;
}
.footer-icon{
    padding:7px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.footer-icon img{
    height:16px;
    width:20px;
}


